* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --font-one: "Merriweather", serif;
  --font-two: "Fjalla One", sans-serif;
  --color-one: black;
  --color-secondary: white;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: var(--color-one);
  display: grid;
  grid-template-areas:
    "header main main"
    "header main main"
    "header main main"
    "sobremi sobremi sobremi"
    "sobremi sobremi sobremi"
    "servicios servicios servicios"
    "servicios servicios servicios"
    "footer footer footer";

  grid-template-columns: 0.5fr 1fr 3fr;
  grid-template-rows: 200px 200px 250px 400px 250px 300px 450px 100px;
  color: white;
}
/* TODO Comienza el nav bar y header */
.cont-logo img {
  width: 150px;
}

header {
  grid-area: header;
  padding: 5px;
}
.cont-bar {
    display: none;
}
.nav-link {
  display: inline-block;
  padding: 20px;
  margin: 12px;
  font-size: 1.5rem;
  font-family: var(--font-one);
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(231, 182, 201);
  transition: color 0.8s;
}
.menu {
  text-align: center;
}
.cont-redes-header {
  text-align: center;
  padding: 8px;
  margin: 50px 0px;
}
.cont-redes-header a > i {
  font-size: 2rem;
  margin: 4px;
}
/* TODO Comienza la parte del main */

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nombrePrincipal{
    font-size: 1.9rem;
    font-family: var(--font-one);
    font-weight: 200;
}
.inicio {
  padding: 0px 20px;
  text-align: center;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inicio p {
  font-size: 3.4rem;
  font-family: var(--font-two);
}

.cont-subprof p {
  display: inline-block;
  font-size: 1.5rem;
  background-color: rgb(46, 1, 1);
  padding: 4px 8px;
  margin: 4px;
  color: rgb(211, 68, 125);
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}
/* TODO Seccion sobre mi */
.sobremi {
  grid-area: sobremi;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 5px;

}
.cont-presentacion {
  padding: 20px;
  align-self: center;
}
.cont-presentacion h2, .servicios h2 {
  font-size: 2.4rem;
  padding: 7px 0px;
  font-family: var(--font-two);
  text-transform: uppercase;
}
.joa {
  font-weight: 900;
  font-style: italic;
}
.cont-presentacion p {
  font-size: 1.5rem;
  font-family: var(--font-one);
  font-weight: 100;
  padding: 10px 0px;
}
.cont-sobremi img {
  width: 250px;
  padding: 10px;
  border-radius: 100%;
}
.title_sobremi {
  font-size: 2.3rem;
  width: 30%;
  font-family: var(--font-two);
  color: transparent;
  -webkit-text-stroke: 0.5px var(--color-secondary);
}
.cont-sobremi {
  align-self: center;
}
/* TODO Seccion nuestros servicios */

.servicios {
  grid-area: servicios;
padding: 30px;
}
.cont-servicio{
  display: flex; 
  justify-content: space-around;
  gap: 7px;
  margin: 5px;
}
.servicios p{
  padding: 8px 0px;
  font-size: 1.3rem;
  font-family: var(--font-one);
}
.card-servicio{
  padding: 20px;
  background-color: rgba(82, 80, 81, 0.224);
  width: 350px;
  border-radius: 4px;
}
.card-servicio h3{
  font-size: 2.3rem;
  padding: 9px 0px;
  font-family: var(--font-two);
}
.card-servicio h4{
  font-size: 1.7rem;
  font-family: var(--font-two);
  font-weight: bolder;
  
}
/* TODO Comienza el footer */

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-one);
  font-weight: 200;
}
footer p>a{
    color: rgb(255, 226, 245);
}
footer p>a:hover{
    color: rgb(211, 68, 125);
    transition: color 0.8s;
}
/* TODO COMIENZA LA PARTE DE MEDIAQUERY  */
@media only screen and (max-width: 700px) {
  
    body {
        display: unset;
    /* grid-template-areas:
      "header header main main"
      "header header main main"
      "header header main main"
      "sobremi sobremi sobremi sobremi"
    
      "servicios servicios servicios servicios"
      "footer footer footer footer";

    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 100px 200px 350px 200px 250px 200px; */
  }
  .cont-logo img {
    width: 90px;

  }
  main{
    min-height: 100vh;
  }
  header{
    position: fixed;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
 nav{
    display: none;
 

 }
 .cont-bar {
    display: block;
    align-self: center;
    cursor: pointer;
 }
 .cont-bar i{
   
    font-size: 2.8rem;
    padding: 8px 18px;
 }
  .nav-link{
    padding:3px;
    gap:0px
  }
  .cont-presentacion {
    padding: 20px;
    align-self: baseline;
  }
 
.sobremi{
      flex-wrap: wrap;
}

.cont-redes-header{
    display: none;
}
.cont-servicio{
  flex-wrap: wrap;
}
}