* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --font-one: "Raleway", sans-serif;
  --font-two: "Hind", sans-serif;
  --color-one: black;
  --color-secondary: white;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: var(--color-one);
  display: grid;
  grid-template-areas:
    "header main main"
    "header main main"
    "header main main"
    "sobremi sobremi sobremi"
    "sobremi sobremi sobremi"
    "servicios servicios servicios"
    "servicios servicios servicios"
    "servicios servicios servicios"
    "servicios servicios servicios"
    "contacto contacto contacto"
    "contacto contacto contacto"
    "contacto contacto contacto"
    "footer footer footer";

  grid-template-columns: 0.5fr 1fr 3fr;
  grid-template-rows: 250px 200px 250px 300px 300px 550px 550px 850px 850px 300px 380px 300px 100px;
  color: white;
}
/* TODO Comienza el nav bar y header */
.cont-logo img {
  width: 150px;
}

header {
  grid-area: header;
  padding: 5px;
  text-align: center;
  z-index: 1;
}
.cont-bar {
  display: none;
}
.nav-link {
  display: inline-block;
  padding: 15px;
  margin: 12px;
  font-size: 1.7rem;
  font-family: var(--font-one);
  font-weight: 300;

}
.menu li{
  padding: 14px;
}
.nav-link:hover {
  color: rgb(231, 182, 201);
  transition: color 0.8s;

  transition: 1.3s;
}
.menu {
  text-align: center;
}
.cont-redes-header {
  text-align: center;
  padding: 8px;
  margin: 50px 0px;
}
.cont-redes-header a > i {
  font-size: 2.4rem;
  margin: 7px;
}
/* TODO Comienza la parte del main */

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nombrePrincipal {
  font-size: 1.9rem;
  font-family: var(--font-two);
  font-weight: 300;
}
.inicio {
  padding: 0px 20px;
  text-align: center;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.inicio p {
  font-size: 3.4rem;
  font-family: var(--font-one);
  font-weight: 700;
  padding:0px 5px 5px;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke: 10%;
}

.cont-subprof p {
  display: inline-block;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 10px 12px;
  margin: 4px;
  color: rgb(243, 207, 221);
  border-radius: 5px;
  font-family: var(--font-two);
  text-transform: uppercase;
  font-weight: 100;
  border: 1px solid rgb(142, 68, 211);
  border-radius: 8px;
}
/* TODO Seccion sobre mi */
.sobremi {
  grid-area: sobremi;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 5px;
}
.cont-presentacion {
  padding: 20px;
  align-self: center;
}
.cont-presentacion h2,
.servicios h2 {
  font-size: 2.4rem;
  padding: 7px 0px;
  font-family: var(--font-two);
  text-transform: uppercase;
}
.joa {
  font-weight: 900;
  font-style: italic;
}
.cont-presentacion p {
  font-size: 1.5rem;
  font-family: var(--font-one);
  font-weight: 200;
  padding: 10px 0px;
}
.cont-sobremi img {
  width: 250px;
  padding: 10px;
  border-radius: 40px;
}
.title_sobremi {
  font-size: 2.3rem;
  width: 30%;
  font-family: var(--font-two);
  color: transparent;
  -webkit-text-stroke: 0.5px var(--color-secondary);
}
.cont-sobremi {
  align-self: center;
}
/* TODO Seccion nuestros servicios */

.servicios {
  grid-area: servicios;
  padding: 30px;
}
.cont-servicio {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 30px 10px 0px;
  align-items: center;
  flex-wrap: wrap;
  
}
.btn-leermas {
  display: inline-block;
  background-color: rgb(36, 0, 56);
  padding: 10px;
  font-size: 1.4rem;
  font-family: var(--font-two);
  cursor: pointer;
  border-radius: 7px;
  margin: 4px;
}

.servicios p {
  padding: 8px 0px;
  font-size: 1.7rem;
  font-family: var(--font-one);
  font-weight: 100;
}
.card-servicio {
  padding: 20px;
  background-color: rgba(31, 0, 30, 0.719);
  width: 280px;
  border-radius: 4px;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-servicio2 {
  background-image: url(../img/competencias.jpg);
  background-position: center;
  background-size: cover;
}
.card-servicio4 {
  background-image: url(../img/sesionesgrupales.jpg);
  background-size: cover;
  background-position: center;
}
.card-servicio5 {
  background-image: url(../img/clases.jpg);
  background-size: cover;
  background-position: center;
}

.card-servicio h3 {
  font-size: 2.3rem;
  padding: 9px 0px;
  font-family: var(--font-two);
}
.card-servicio h4 {
  font-size: 1.7rem;
  font-family: var(--font-two);
  font-weight: bolder;
}
/* TODO formulario de contacto */

.contacto {
  grid-area: contacto;
  padding: 30px;
}
.contacto h2 {
  font-size: 2.3rem;
  font-family: var(--font-two);
  text-transform: uppercase;
  padding: 7px 0px;
}
fieldset {
  border: 0px;
}
textarea {
  resize: none;
  background-color: transparent;
  color: white;
  font-family: var(--font-one);
  padding: 8px;
  border: 1px solid rgb(211, 68, 125);
  border-radius: 4px;
}
.enviar-msj {
  padding: 8px 4px;
  background-color: transparent;
  color: white;
  border: unset;
  font-size: 1.4rem;
  font-family: var(--font-one);
  cursor: pointer;
}
.enviar-msj i {
  font-size: 1.8rem;
  padding: 8px;
}
.card-servicio1 {
  background-image: url(../img/foto0.2.jpg);
  background-position: 30% 20%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-servicio3 {
  background-image: url(../img/foto1.jpg);
  background-position: center;
  background-size: cover;
}
.cont-texto {
  font-size: 1.5rem;
  font-family: var(--font-one);

}
.card-servicio:hover {
  transform: translate(0, 8px);
  transition: 1.4s;
}
.logo-contacto img {
  width: 260px;
}
.cont-button {
  display: flex;
  justify-content: end;
}
.enviar-msj:hover {
  color: rgb(211, 68, 125);
  transition: 0.5s;
}
input {
  width: 100%;
  background-color: transparent;
  border: unset;
  border-bottom: 1px solid rgb(211, 68, 125);
  padding: 8px 0px;
  color: white;
  font-size: 1.5rem;
}
fieldset label {
  display: block;
  margin: 5px 0px;
}
iframe {
  margin: 10px;
  width: 300px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.cont-gral-contacto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}
.cont-form {
  padding: 10px;
  display: flex;
  align-items: center;
}
.cont-gral-contacto h4 {
  font-size: 1.9rem;
  font-family: var(--font-one);
  padding: 10px;
}
.cont-gral-contacto p {
  font-size: 1.7rem;
  font-family: var(--font-two);
  font-weight: 200;
  padding: 5px;
  margin: 0px 5px 5px;
}
.cont-redes-contact {
  text-align: center;
  padding: 15px;
  margin: 5px;
}
.form-contact {
  padding: 15px;
  margin: 35px 15px;

  border-radius: 10px;
}
.form-contact fieldset > label {
  font-size: 1.6rem;
  font-family: var(--font-one);
  padding: 4px 0px;
}
.redes-interno a > i {
  font-size: 2.8rem;
  padding: 5px;
  margin: 8px;
}
.redes-interno {
  padding: 10px;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: rgb(41, 41, 41);
}
::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  border-radius: 5px;
}
#iframe-ig::-webkit-scrollbar {
  display: none !important;
}
/* TODO Comienza el footer */

footer {
  grid-area: footer;
  padding: 35px;
  margin: 10px;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font-one);
  font-weight: 200;
}
footer p > a {
  color: rgb(255, 226, 245);
}
footer p > a:hover {
  color: rgb(211, 68, 125);
  transition: color 0.8s;
}
/* TODO COMIENZA LA PARTE DE MEDIAQUERY  */
@media only screen and (max-width: 800px) {
  body {
    display: unset;
    /* grid-template-areas:
      "header header main main"
      "header header main main"
      "header header main main"
      "sobremi sobremi sobremi sobremi"
    
      "servicios servicios servicios servicios"
      "footer footer footer footer";

    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 100px 200px 350px 200px 250px 200px; */
  }
  .cont-logo img {
    width: 90px;
  }
  main {
    min-height: 100vh;
  }
  header {
    position: fixed;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1.4s;
  }
  nav {
    display: none;
  }
  .menu li{
    padding: 14px;
  }
  .cont-bar {
    display: block;
    align-self: center;
    cursor: pointer;
  }
  .cont-bar i {
    font-size: 2.8rem;
    padding: 8px 18px;
  }
  .nav-link {
    padding: 3px;
    gap: 0px;
  }
  .cont-presentacion {
    padding: 20px;
    align-self: baseline;
  }
.nombrePrincipal {
  font-size: 1.8rem;
}
.inicio p {
  font-size: 2.8rem;
}
.cont-subprof p{
  font-size: 1.3rem;
}
  .sobremi {
    flex-wrap: wrap;
  }

  .cont-redes-header {
    display: none;
  }
 
  .cont-gral-contacto {
    justify-content: center;
  }
  .btn-togler-event {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    width: 100%;
    right: 0;
    padding: 8px 14px;
    background-color: rgb(0, 0, 0);
    transition: all 1s;
  }
}
@media only screen and (min-width: 1500px) {
  body {
    grid-template-rows: 200px 300px 250px 400px 250px 350px 420px 500px 0px 450px 200px 300px 100px;
  }
  header {
    margin-top: 25px;
  }
}
